<footer class="container4">
  <nav class="container__resourcers">
    <a
      class="container__resourcers--style"
      href="https://adalab.es/"
      title="Página de adalab"
      target="blank"
    >
      <ul>
        <li>Articles</li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
    </a>
  </nav>
  <nav class="container__social-media">
    <a
      class="container__social-media--style"
      href="https://adalab.es/"
      title="Página de adalab"
      target="blank"
    >
      <ul>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Mastodon.Social</li>
      </ul>
    </a>
  </nav>
  <div class="container__copyright">©2017</div>
  <div class="container__love">
    we <small class="heart">❤︎ </small> components
  </div>
  <a href="#Anonymous-Proxy" name="main-page" title="Página-principal">
    <small class="scroll-up">
      <img
        class="ico-scroll-up"
        src="./assets/images/ico-arrow.svg"
        alt="Vuelve al inicio de la página"
      />
    </small>
  </a>
</footer>
