<footer class="container4">
  <a
    class="scroll-up"
    href="#Anonymous-Proxy"
    name="main-page"
    title="Página-principal"
  >
    <img
      src="./assets/images/ico-arrow.svg"
      alt="Vuelve al inicio de la página"
    />
  </a>
  <nav class="container__resourcers">
    <ul class="footer-design">
      <li>
        <a
          class="container__resourcers--style"
          href="https://adalab.es/"
          title="Página de adalab"
          target="blank"
          >Articles</a
        >
      </li>

      <li>
        <a
          class="container__resourcers--style"
          href="https://adalab.es/"
          title="Página de adalab"
          target="blank"
          >Books</a
        >
      </li>

      <li>
        <a
          class="container__resourcers--style"
          href="https://adalab.es/"
          title="Página de adalab"
          target="blank"
          >Events</a
        >
      </li>
      <li>
        <a
          class="container__resourcers--style"
          href="https://adalab.es/"
          title="Página de adalab"
          target="blank"
          >Reasons</a
        >
      </li>

      <li>
        <a
          class="container__resourcers--style"
          href="https://adalab.es/"
          title="Página de adalab"
          target="blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="container__social-media">
    <ul class="footer-design">
      <li class="footer-desing2">
        <a
          class="container__resourcers--style"
          href="https://adalab.es/"
          title="Página de adalab"
          target="blank"
          >Twitter</a
        >
      </li>
      <li class="footer-desing2">
        <a
          class="container__resourcers--style"
          href="https://adalab.es/"
          title="Página de adalab"
          target="blank"
          >Instagram</a
        >
      </li>
      <li class="footer-desing2">
        <a
          class="container__resourcers--style"
          href="https://adalab.es/"
          title="Página de adalab"
          target="blank"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </nav>

  <div class="reverse2">
    <div class="container__copyright">©2017</div>
    <div class="container__love">
      we <small class="heart">❤︎ </small> components
    </div>
  </div>
</footer>
