<header class="container0">
  <section class="container1">
    <nav class="menu-container">
      <img class="ico-menu" src="./assets/images/ico-menu.svg" alt="ico-menu" />
      <a href="https://adalab.es/" title="Página de adalab" target="blank"></a>
    </nav>
    <div>
    <h1 class="titlecontainer">Anonymous Proxy</h1>
    <h2 class="subtitle">In hac habitasse pla Copy</h2>
    <small class="go-down">
      <img
        class="ico-scroll-down"
        src="./assets/images/ico-scroll-down.svg"
        alt="Va a la sección 3 reasons to purchase"
      />
    </small>
  </div>
    </section>
  </section>
</header>
