<main class="offers">
  <section class="container2">
      <h4 class="tips">Insomnia tips</h4>
      <h2 class="looking">Looking through a window</h2>
      <p class="paragraph">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <a
      class="link1"
      href="https://adalab.es/"
      title="Página de Adalab"
      target="blank"
    >
      <input class="letsGo" type="submit" value="Go" />
    </a>
   
  </section>
  <section class="container3" id="reasons-to-buy">
    <h2 class="why">3 Reasons to purchase</h2>
      <article>
        <div>
          <h3 class="why1">Ut sed metus</h3>
          <p class="definition1">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
      </article>
      <article>
        <div>
          <h3 class="why2">Curabitur ac erat</h3>
          <p class="definition2">Mauris mattis urna quis lorem molestie.</p>
        </div>
      </article>
      <article>
        <div>
          <h3 class="why3">Morbi dictum</h3>
          <p class="definition3">Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </article>
    </div>
    <div class="botton-grid">
      <a
        class="link2"
        href="https://adalab.es/"
        title="Página de Adalab"
        target="blank"
      >
        <input class="more-buttom" type="submit" value="More reasons" />
      </a>
  </section>
</main>
