<main class="container2">
  <section class="intro">
    <h4 class="tips">Insomnia Tips</h4>
    <h2 class="looking">Looking Through A Window</h2>
    <p class="paragraph">lorem ipsum</p>
    <input class="Go-buttom" type="submit" value="Go" />
  </section>
  <section class="container3">
    <h2 class="to-buy">3 Reasons To Purchase</h2>

    <div>
      <span class="why1">Titulo</span>
      <p class="definition">lorem ipsum</p>
    </div>
    <div>
      <span class="why1">Titulo</span>>
      <p class="definition">lorem ipsum</p>
    </div>
    <div>
      <span class="why1">Titulo</span>
      <p class="definition">lorem ipsum</p>
    </div>
    <input class="Go-buttom" type="submit" value="More Reasons" />
    <!-- revisar si va la segunda con mayuscula More reasons -->
    <div class="scroll-up">(boton)</div>
  </section>
</main>
