.container4 {
  width: 100%;
  background-color: #304268;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  position: relative;
}
.container__resourcers {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.container__resourcers--style {
  margin-bottom: 30px;
  font-size: 16px;
  color: #ffffff;
  line-height: 30px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}
.container__social-media {
  margin-bottom: 30px;
  margin-top: 45px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

.container__copyright {
  font-size: 14px;
}
.container__love {
  font-size: 14px;
}
.heart {
  color: #f26002;
}
.scroll-up {
  position: absolute;
  top: -25px;
  left: 43%;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}
@media all and (min-width: 768px) and (max-width: 1200px) {
  .container4 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 30px;
    position: relative;
    list-style: none;
  }
  .container__resourcers {
    margin-top: 45px;
    text-decoration: none;
    list-style: none;
    flex-direction: column-reverse;
  }
  .container__resourcers--style {
    text-decoration: none;
    list-style: none;
    display: flex;
  }
  .container__social-media {
    margin-top: -70px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
  }
  .container__copyright {
    font-size: 14px;
    flex-direction: column;
  }
  .footer-design {
    list-style: none;
  }
  .footer-design1 {
    list-style: none;
  }
  .footer-desing2 {
    list-style: none;
  }
  .scroll-up {
    position: absolute;
    left: 50%;
  }
}
@media all and (min-width: 1200px) {
}
