.container4 {
  width: 100%;
  background-color: #304268;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 60px 86px 45px 87px;
}
.container__resourcers {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.container__resourcers--style {
  font-size: 16px;
  color: #ffffff;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.container__social-media {
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
}
.footer-design {
  text-decoration: none;
  list-style: none;
}

.container__copyright {
  height: 30px;
  font-size: 14px;
}
.container__love {
  font-size: 14px;
  height: 30px;
}
.heart {
  color: #f26002;
}
.scroll-up {
  position: absolute;
  top: -25px;
  left: 43%;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}
@media all and (min-width: 768px) and (max-width: 1199px) {
  .container4 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 39px;
    padding-right: 39px;
  }
  .container__resourcers {
    order: 2;
    text-decoration: none;
    list-style: none;
    flex-direction: column-reverse;
  }
  .container__resourcers--style {
    text-decoration: none;
    list-style: none;
    display: flex;
  }
  .container__social-media {
    order: 3;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
  }
  .container__copyright {
    order: 1;
    font-size: 14px;
    flex-direction: column;
  }
  .footer-design {
    list-style: none;
  }

  .scroll-up {
    position: absolute;
    left: 48%;
  }
}
@media all and (min-width: 1200px) {
  .container4 {
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
  }
  .container__social-media {
    order: 3;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
  }
  .container__resourcers {
    order: 2;
  }
  .container__copyright {
    order: 1;
    font-size: 14px;
    flex-direction: column;
  }
  .footer-design {
    list-style: none;
  }

  .scroll-up {
    position: absolute;
    left: 48%;
  }
}
