@import "./core/reset";
@import "./layout/header";
@import "./layout/footer";

.offers {
  width: 100%;
}
.container2 {
  width: 100%;
  height: 376px;
  padding: 30px 15px 45px 15px;
  background-color: #ffffff;
}
.tips {
  height: 30px;
  margin-bottom: 1px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  font-size: 14px;
  color: #8ccbea;
  text-transform: capitalize;
}
.looking {
  width: 90.62%;
  height: 60px;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: capitalize;
}
.paragraph {
  width: 90.62%;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #4a4a4a;
}
.letsGo {
  width: 210px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  border: 2px solid #f26002;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  transition: color ease 0.5s;
}
.link1 :hover {
  color: green;
}
.link2 :hover {
  color: greenyellow;
}
.container3 {
  width: 100%;
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.why {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 45px;
}
.why1 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: #000000;
  margin-left: 21.2%;
  margin-right: 21.2%;
}
.why2 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: #000000;
  margin-left: 21.2%;
  margin-right: 21.2%;
}
.why3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: #000000;
  margin-left: 21.2%;
  margin-right: 21.2%;
}
.definition1 {
  font-family: "Roboto", sans-serif;

  line-height: 30px;
  font-size: 18px;
  color: #000000;
  margin-left: 21.8%;
  margin-right: 21.8%;
  margin-bottom: 45px;
}
.definition2 {
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #000000;
  margin-left: 21.8%;
  margin-right: 21.8%;
  margin-bottom: 45px;
}
.definition3 {
  line-height: 30px;
  font-family: "Roboto", sans-serif;

  font-size: 18px;
  color: #000000;
  margin-left: 21.8%;
  margin-right: 21.8%;
  margin-bottom: 45px;
}
.more-buttom {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  align-items: center;
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 45px;
  cursor: pointer;
  border: none;
  transition: color ease 0.5s;
}
@media all and (min-width: 768px) and (max-width: 1200px) {
  .container2 {
    height: 330px;
    padding: 30px 39px 60px 39px;
    display: flex;
    flex-direction: column;
  }
  .tips {
    order: 2;
    height: 30px;
    margin-bottom: 1px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    font-size: 14px;
    color: #8ccbea;
    text-transform: capitalize;
  }

  .paragraph {
    font-size: 20px;
  }
  .looking {
    width: 89.8%;
    height: 45px;
    font-size: 26px;
    line-height: 45px;
    margin-bottom: 3.9%;
  }

  .paragraph {
    width: 90.62%;
    margin-top: 15px;
    font-size: 20px;
    color: #4a4a4a;
  }

  .container3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .why {
    grid-column: span 3;
  }
  .more-buttom {
    grid-column: 2 / 3;
    text-transform: capitalize;
  }
  .botton-grid {
    grid-column: 2 / 3;
  }
}
@media all and (min-width: 1200px) {
  .container2 {
    height: 360px;
    padding: 60px 275px 60px 275px;
  }
  .tips {
    font-size: 16px;
  }
  .looking {
    height: 45px;
    font-size: 32px;
  }

  .paragraph {
    font-size: 20px;
  }
  .letsGo {
    text-align: center;
    padding: 7px;
  }
  .container3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .why {
    grid-column: span 3;
  }
  .more-buttom {
    grid-column: 2 / 3;
    text-transform: capitalize;
  }
}
